/dados/*
!/dados/.gitkeep
!/dados/media.json
!/dados/albums.json
!/dados/users.json
!/dados/stories.json
!/dados/events.json
!/dados/music.json
!dados/photos/**
!dados/videos/**
!dados/others/**

node_modules/
dist/
/.idea
.DS_Store# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
